<a href="https://colab.research.google.com/github/KarabiMandal185/Application-of-Data-Mining/blob/main/LAB_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

# Load dataset
file_path = '/content/wine_data.csv'
data = pd.read_csv(file_path)

# One-hot encoding for 'quality'
encoded_data = pd.get_dummies(data, columns=['quality'], prefix='quality')

# Display sample data after encoding
print("One-hot Encoded Data:\n", encoded_data.head())

One-hot Encoded Data:
    fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0           11.6             0.580         0.66            2.20      0.074
1           10.4             0.610         0.49            2.10      0.200
2            7.4             1.185         0.00            4.25      0.097
3           10.4             0.440         0.42            1.50      0.145
4            8.3             1.020         0.02            3.40      0.084

   free_sulfur_dioxide  total_sulfur_dioxide  density    pH  sulphates  \
0                 10.0                  47.0  1.00080  3.25       0.57
1                  5.0                  16.0  0.99940  3.16       0.63
2                  5.0                  14.0  0.99660  3.63       0.54
3                 34.0                  48.0  0.99832  3.38       0.86
4                  6.0                  11.0  0.99892  3.48       0.49

   alcohol  quality_3  quality_4  quality_5  quality_6  quality_7  quality_8  \
0      9.0       True      False      False      False      False      False
1      8.4       True      False      False      False      False      False
2     10.7       True      False      False      False      False      False
3      9.9       True      False      False      False      False      False
4     11.0       True      False      False      False      False      False

   quality_9
0      False
1      False
2      False
3      False
4      False

In [33]:
# Create a derived column: sugar_density_ratio
encoded_data['sugar_density_ratio'] = encoded_data['residual_sugar'] / encoded_data['density']

print("Derived Column Data Sample:\n", encoded_data[['residual_sugar', 'density', 'sugar_density_ratio']].head())

Derived Column Data Sample:
    residual_sugar  density  sugar_density_ratio
0            2.20  1.00080             2.198241
1            2.10  0.99940             2.101261
2            4.25  0.99660             4.264499
3            1.50  0.99832             1.502524
4            3.40  0.99892             3.403676

In [30]:
# Group by quality and compute mean alcohol content
grouped_data = data.groupby('quality')['alcohol'].mean().reset_index()

print("Grouped Data:\n", grouped_data)
#grouping and aggetation # This line was causing the error due to unexpected indentation. Corrected by adding a '#' to comment it out.

Grouped Data:
    quality    alcohol
0        3  11.624750
1        4  11.553267
2        5  10.371093
3        6  10.646033
4        7  11.619100
5        8  11.595200
6        9  11.632567

In [32]:
# Create a pivot table for average citric acid values across quality levels
pivot_table = data.pivot_table(values='citric_acid', index='quality', aggfunc='mean').reset_index()

print("Pivot Table:\n", pivot_table)
# pivot table # The line 'pivot table' was causing the error. It has been commented out to fix the indentation issue.

Pivot Table:
    quality  citric_acid
0        3     1.003857
1        4     0.948657
2        5     0.514153
3        6     0.361420
4        7     0.760803
5        8     0.960370
6        9     1.007827